body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /*  background: url('bg.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    backdrop-filter: blur(0px);
    background-blend-mode: overlay; */
}

body::before {
    content: "";
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
    background: url('images/background.jpg') center/100% no-repeat;
    filter: blur(0px);
    background-color: black;
    filter: brightness(100%);
    z-index: -1;
    pointer-events: none;
    background-position: 25% 80% ;
}

main {
    backdrop-filter: blur(30px);
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 80%;
    /* margin-top: 650px; */
    max-width: 800px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.281);
    background-color: rgba(0, 0, 0, 0.6);
    /* border-style: solid;
    border-color: black; */
}


h1 {
    color: #f9dbdb;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: #f9dbdb;
    text-align: center;
    font-size: 40px;
}

p {
    color: #f9dbdb;
    text-align: center;
    font-size: 20px;
}

header {
    position:sticky; 
    top:0; 
    width:100%; 
    align-self:stretch; 
    z-index:1000; 
    backdrop-filter: blur(30px); 
    background-color: rgba(0, 0, 0, 0.6); 
    padding:12px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.516);
}

header nav {
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
    gap:12px; width:100%; 
    max-width:800px; 
    margin:0 auto; 
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
    gap:1rem;
}

.headerTitle {
    color:#f9dbdb;
    /* margin:0;  */
    font-size:24px;
    text-decoration:none;
}

.footerContainer {
    display:flex; flex-direction:column; align-items:center; margin-top:20px; margin-bottom:20px;
}

.footerLogos {
    width:30px;height:30px;border-radius:50%;box-shadow: 0 0px 7px rgba(73, 158, 13, 0.598) ;
}

footer p {
    font-size: 0.9em;
    z-index: 1;
    /* margin-bottom: 50px; */
}

@media (max-width: 767.98px) {
    .text-content {
    max-width: fit-content;
    padding: 0 15px;
}

main {
    width: 100%;
    border-radius: 0px;
}

p {
    color: #f9dbdb;
    text-align: center;
    font-size: 16px;
}

body {
    background-color: black;
}

body::before {
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
    background: url('images/background.jpg') center/300% no-repeat;
    background-color: rgba(0, 0, 0, 0);
    filter: brightness(100%);
    background-position: 0% 80%; 
}

.headerTitle {
    color:#f9dbdb;
    margin:0; 
    font-size:14px;
    text-decoration:none;
}
}