/* Body */

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /*  background: url('bg.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    backdrop-filter: blur(0px);
    background-blend-mode: overlay; */
}

body::before {
    content: "";
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
    background: url('images/background.jpg') center/100% no-repeat;
    filter: blur(0px);
    background-color: black;
    filter: brightness(100%);
    z-index: -1;
    pointer-events: none;
    background-position: 25% 80% ;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.116);
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}



/* Text */

h1 {
    color: #f9dbdb;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: #f9dbdb;
    text-align: left;
    font-size: 30px;
}

h3 {
    color: #f9dbdb;
    text-align: left;
    font-size: 20px;
}

p {
    color: #f9dbdb;
    text-align: left;
    font-size: 16px;
}

a {
    color: #a8e6a1;
    text-decoration: none;
}



/* Header */

header {
    position: sticky; 
    top:0; 
    width:100%; 
    align-self:stretch; 
    z-index:1000; 
    backdrop-filter: blur(30px); 
    background-color: rgba(0, 0, 0, 0.6); 
    padding:12px 20px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.516);

    opacity: 0;
    transform: translateY(-30px);
    animation: fadeInUp 0.8s ease-out both;
    animation-delay: 0.2s;
}

header nav {
    display:flex; 
    justify-content:space-between; 
    gap:12px; width:100%; 
    max-width:800px; 
    margin:0 auto; 
    align-items:center; 
}

.headerTitle {
    color:#f9dbdb;
    /* margin:0;  */
    font-size:24px;
    /* text-decoration:none; */
    font-weight: bold;
    margin-top: 4px;
}

.headerTitle:hover, #headerLink:hover {
    transform: translateY(-2px);
    transition: transform 0.3s ease, color 0.3s ease;
    color: #b1b1b1 !important;
    /* background: linear-gradient(90deg, #a6a0b8, #439938);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; */
}

.headerTitle, #headerLink {
    /* -webkit-text-fill-color: #f9dbdb; */
    transition: transform 0.6s ease, color 0.8s ease, -webkit-text-fill-color 0.8s ease;
}

.headerPicture {
    display: none;
    /* margin:0;  */
    margin-right: 5px;
}

.headerRight {
    display:flex; 
    gap:12px; 
    align-items:center;
}

.headerLeft {
    display:flex; 
    align-items:center; 
    gap:12px;
}

.headerLink {
    color:#f9dbdb; 
    text-decoration:none; 
    font-size:14px;
}

/* Footer */

.footerContainer {
    display:flex; flex-direction:column; align-items:center; margin-top:20px; margin-bottom:30px;
}

.footerLogos {
    width:30px;height:30px;border-radius:50%;box-shadow: 0 0px 7px rgba(73, 158, 13, 0.598) ;
}

footer p {
    font-size: 0.9em;
    z-index: 1;
}


/* Main */

.mainColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main {
    backdrop-filter: blur(30px);
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 30px;
    width: 80%;
    /* margin-top: 650px; */
    max-width: 800px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.281);
    /* background: radial-gradient(circle at top, #3ec265 0, rgba(26, 25, 25, 0.445) 60%); */
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(105, 223, 140, 0.125);

    /* Animation */
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.8s ease-out forwards;
    animation-delay: 0.2s; /* Start after page loads */
}



/* Section */

.section {
    backdrop-filter: blur(30px);
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 30px;
    width: 80%;
    /* margin-top: 650px; */
    max-width: 800px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.281);
    /* background: radial-gradient(circle at top, #3ec265 0, rgba(26, 25, 25, 0.445) 60%); */
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(105, 223, 140, 0.125);
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Card */

.card {
    backdrop-filter: blur(30px);
    border-radius: 30px;
    padding: 30px 20px 30px 50px;
    /* margin: 10px; */
    /* width: 50%; */
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.281);
    background: radial-gradient(circle at top, #3f4d27 0, rgba(26, 25, 25, 0.445) 60%);
    /* max-width: 80%;  */
    max-width: 800px;
    width: 80%;
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    margin: 70px 0px 0px;

    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.8s ease-out forwards;
    animation-delay: 0.2s; /* Start after page loads */
}

.cardTitle {
    color: #f9dbdb;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 30px;
}

.cardText {
    color: #f9dbdb;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-left: 30px;
}

.card img.cardImage {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
    width:30%; 
    border-radius: 100%; 
    margin-top: 24px; 
    margin-bottom: 25px;
}

.cardBtn {
    margin-left: 30px;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    background: rgb(141, 185, 113);
    transition: transform 0.6s ease, background-position 0.8s ease, color 0.8s ease, background-color 0.8s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
}

.cardBtn:hover {
    background: rgb(173, 229, 140);
    background-position: 100% 0%;
    transform: scale(1.05);
}

/* Animations */

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Hero Section */
.hero {
    text-align: center;
    backdrop-filter: blur(100px) brightness(1.4);
    border-radius: 0px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 30px;
    width: 100%;
    background-color: rgba(138, 110, 110, 0.349);
    border: none;

    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.hero.visible {
    opacity: 1;
    transform: translateY(0);
}

.heroTitle {
    margin-left: 20px;
    margin-bottom: 40px;
}

.heroContent {
    max-width: 800px;
    margin: 0 auto;
}

.project-card {
    backdrop-filter: blur(30px);
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 30px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.281);
    background-color: rgba(0, 0, 0, 0.6);
    border: 0px solid rgba(105, 223, 140, 0.125);
    display: flex; 
    flex-direction: column;
    align-items: center;

    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.project-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.project-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
}

p.project-title {
    color: #f9dbdb;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.project-link {
    margin-left: 0px;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    background: rgb(141, 185, 113);
    transition: transform 0.6s ease, background-position 0.8s ease, color 0.8s ease, background-color 0.8s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
}

.project-link:hover {
    background: rgb(173, 229, 140);
    background-position: 100% 0%;
    transform: scale(1.05);
}



/* Back to Top Button */

#TopBtn {
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(255, 255, 255, 0.24); /* Set a background color */
    color: rgb(0, 0, 0); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 100%; /* Rounded corners */
    font-size: 10px; /* Increase font size */
    backdrop-filter: blur(10px);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.658);
    opacity: 0; /* Start invisible */
    visibility: hidden; /* Hide from screen readers when not visible */
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    pointer-events: none; /* Disable clicks when invisible */
}

#TopBtn.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: background-color 0.2s ease-in-out;
}


#TopBtn:hover {
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.432); /* Add a dark-grey background on hover */
}



/* Breadcrumb Navigation */

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 13px;
  color: #f9dbdb50;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #f9dbdb;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #f9dbdb;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: none;
}










/* Mobile Styles */

@media (max-width: 767.98px) {
    .text-content {
    max-width: fit-content;
    padding: 0 15px;
}

main, .section {
    backdrop-filter: blur(30px);
    border-radius: 0px;
    padding: 20px;
    margin: 0px;
    width: 100%;
    /* margin-top: 650px; */
    max-width: auto;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.281);
    background-color: rgba(0, 0, 0, 0.6);
    border: #3f4d27 0px !important;
    border-top: #3f4d27 1px solid;
    /* border-style: solid;
    border-color: black; */
}

p {
    color: #f9dbdb;
    text-align: left;
    font-size: 16px;
}

body {
    background-color: black;
}

body::before {
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
    background: url('images/background.jpg') top/400% no-repeat;
    background-color: rgba(0, 0, 0, 0);
    filter: brightness(100%);
    background-position: 0% 80%; 
}

header {
    background-color: rgba(0, 0, 0, 0.5); 
    padding:18px 20px;
}

header nav {
    display:flex;
    flex-direction: column; 
    justify-content:space-between; 
    gap:16px; width:100%; 
    max-width:800px; 
    margin:0 auto; 
    align-items:center; 
}

.headerTitle {
    color:#f9dbdb;
    margin:0; 
    font-size:25px;
    text-decoration:none;
}

.headerRight {
    display:flex; 
    gap: 35px; 
    align-items:center;
}

.card {
    max-width: 90% !important; 
    display: flex !important;
    flex-direction: column; 
    align-items: center !important; 
    margin-top: 70px !important;
    margin-bottom: 10px !important;

    backdrop-filter: blur(30px);
    border-radius: 30px;
    padding: 20px;
    margin: 0px;
    width: 100%;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.281);
    background: radial-gradient(circle at top, #3f4d27 0, rgba(26, 25, 25, 0.445) 60%); 
}

.cardName {
    color: #f9dbdb;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card img.cardImage {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
    width: 60%; 
    border-radius: 100%; 
    margin-top: 24px; 
    margin-bottom: 25px;
}

.cardBtn {
    margin-bottom: 10px;
    margin-left: 10px;
}

.cardText {
    margin-bottom: 10px;
    margin-left: 10px;
}

.cardTitle {
    margin-bottom: 10px;
    margin-left: 10px;
}

.project-card {
    backdrop-filter: blur(30px);
    border-radius: 15px;
    padding: 20px;
    margin: 3px;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.281);
    background-color: rgba(0, 0, 0, 0.6);
    border: 0px solid rgba(105, 223, 140, 0.125);
}

.heroContent {
    max-width: 100%;
    margin: 10px auto;
}

.hero {
    padding: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.mainColumn {
    display: flex;
    flex-direction: column;
    align-items: flex;
    width: 100%;
    /* max-width: 500px; */
}
}