body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /*  background: url('bg.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    backdrop-filter: blur(0px);
    background-blend-mode: overlay; */
}

body::before {
    content: "";
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
    background: url('images/background.jpg') center/100% no-repeat;
    filter: blur(0px);
    background-color: black;
    filter: brightness(100%);
    z-index: -1;
    pointer-events: none;
    background-position: 25% 80% ;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.116);
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

.mainColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main {
    backdrop-filter: blur(30px);
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 80%;
    /* margin-top: 650px; */
    max-width: 800px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.281);
    /* background: radial-gradient(circle at top, #3ec265 0, rgba(26, 25, 25, 0.445) 60%); */
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(105, 223, 140, 0.125);

    

    /* Animation */
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.8s ease-out forwards;
    animation-delay: 0.2s; /* Start after page loads */
}

.card {
    backdrop-filter: blur(30px);
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    width: 50%;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.281);
    background: radial-gradient(circle at top, #3f4d27 0, rgba(26, 25, 25, 0.445) 60%);
    max-width: 40%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 50px 20px 10px;

    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.8s ease-out forwards;
    animation-delay: 0.2s; /* Start after page loads */
}

.cardName {
    color: #f9dbdb;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    color: #f9dbdb;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: #f9dbdb;
    text-align: center;
    font-size: 30px;
}

h3 {
    color: #f9dbdb;
    text-align: left;
    font-size: 20px;
}

p {
    color: #f9dbdb;
    text-align: left;
    font-size: 16px;
}

a {
    color: #a8e6a1;
    text-decoration: none;
}

header {
    position:sticky; 
    top:0; 
    width:100%; 
    align-self:stretch; 
    z-index:1000; 
    backdrop-filter: blur(30px); 
    background-color: rgba(0, 0, 0, 0.6); 
    padding:12px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.516);
}

header nav {
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
    gap:12px; width:100%; 
    max-width:800px; 
    margin:0 auto; 
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
    gap:1rem;
}

.headerTitle {
    color:#f9dbdb;
    /* margin:0;  */
    font-size:24px;
    text-decoration:none;
    font-weight: bold;
}

.footerContainer {
    display:flex; flex-direction:column; align-items:center; margin-top:20px; margin-bottom:20px;
}

.footerLogos {
    width:30px;height:30px;border-radius:50%;box-shadow: 0 0px 7px rgba(73, 158, 13, 0.598) ;
}

footer p {
    font-size: 0.9em;
    z-index: 1;
    /* margin-bottom: 50px; */
}

#myBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(255, 255, 255, 0.24); /* Set a background color */
  color: rgb(0, 0, 0); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 100%; /* Rounded corners */
  font-size: 10px; /* Increase font size */
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.658);
  opacity: 0; /* Start invisible */
  visibility: hidden; /* Hide from screen readers when not visible */
  transition: opacity 0.3s ease-in-out, visibility 0.3s;
  pointer-events: none; /* Disable clicks when invisible */

}

#myBtn.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


#myBtn:hover {
  background-color: rgba(255, 255, 255, 0.432); /* Add a dark-grey background on hover */
}










/* Mobile Styles */

@media (max-width: 767.98px) {
    .text-content {
    max-width: fit-content;
    padding: 0 15px;
}

main {
    backdrop-filter: blur(30px);
    border-radius: 0px;
    padding: 20px;
    margin: 0px;
    width: 100%;
    /* margin-top: 650px; */
    max-width: auto;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.281);
    background-color: rgba(0, 0, 0, 0.6);
    border: #3f4d27 0px !important;
    border-top: #3f4d27 1px solid;
    /* border-style: solid;
    border-color: black; */
}

p {
    color: #f9dbdb;
    text-align: left;
    font-size: 16px;
}

body {
    background-color: black;
}

body::before {
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
    background: url('images/background.jpg') top/400% no-repeat;
    background-color: rgba(0, 0, 0, 0);
    filter: brightness(100%);
    background-position: 0% 80%; 
}

header {
    background-color: rgba(0, 0, 0, 0.5); 
    padding:18px 20px;
}

.headerTitle {
    color:#f9dbdb;
    margin:0; 
    font-size:18px;
    text-decoration:none;
}

.card {
    max-width: 90% !important; 
    display: flex !important;
    flex-direction: column; 
    align-items: center !important; 
    margin-top: 70px !important;
    margin-bottom: 10px !important;

    backdrop-filter: blur(30px);
    border-radius: 30px;
    padding: 20px;
    margin: 0px;
    width: 100%;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.281);
    background: radial-gradient(circle at top, #3f4d27 0, rgba(26, 25, 25, 0.445) 60%); 
}

.cardName {
    color: #f9dbdb;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mainColumn {
    display: flex;
    flex-direction: column;
    align-items: flex;
    width: 100%;
    /* max-width: 500px; */
}
}